@using MVC_Filters.Models
@model IEnumerable<MVC_Filters.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfVisiting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageOfVisiting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (User item in Model.OrderByDescending(o => o.DateOfVisiting))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfVisiting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageOfVisiting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.User_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.User_Id })
            </td>
        </tr>
    }

</table>
